{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Entrar{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Entrar</h2>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <div class="mx-auto w-75">
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </div>
</form>
<div class="text-center mt-3">
  <a href="{% url 'password_reset' %}" class="text-decoration-none">Esqueceu a senha?</a> - 
  <a href="{% url 'cadastro' %}" class="text-decoration-none">Cadastre-se</a>
</div>
{% endblock %}
