{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Recuperar Senha{% endblock %}
{% block content %}
<h2 class="text-center mb-3">Redefinição de senha enviada</h2>
<p>Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
<p class="mb-3">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
<div class="text-center mt-3">
  <a href="{{ request.scheme }}://{{ request.get_host }}" class="text-decoration-none">Voltar</a>
</div>
{% endblock %}





